.parallax-container {
    position: relative;
    overflow: visible;
    height: auto; /* Full viewport height */
}

.parallax-container img {
    position: relative;
    width: 500px; /* Adjust as needed */
    height: auto;
    top: 0;
    left: 0;
}
.custom-dialog-container .mat-dialog-container {
    padding: 0;
    border-radius: 8px;
    background: transparent;
    box-shadow: none;
}