<div id="omgeving" class="topFiller"></div>
<div>
    <h3>Omgeving</h3>
    <p>De camping ligt in een prachtige omgeving die zich uitstekend leent voor wandel- en fietstochten. Met Appingedam op slechts 6 km afstand, kunt u genieten van de historische charme van deze stad, terwijl u de rust en natuur van het platteland ervaart. In de nabijheid van onze camping vindt u diverse fiets- en wandelroutes, ideaal voor natuurliefhebbers en avonturiers. Vergeet niet om het restaurant op loopafstand te bezoeken voor een heerlijke maaltijd na een dag vol activiteiten.
</div>