<div id="omgeving" class="topFiller"></div>
<div>
    <h3>Omgeving</h3>
    <p>Ontdek de prachtige omgeving van Leermens<br />
<br />
        Leermens is een schilderachtig dorpje gelegen in de provincie Groningen. Het is de perfecte uitvalsbasis voor wandel- en fietsliefhebbers die willen genieten van het weidse landschap, de historische dorpen en de serene rust van het noorden. Bezoek nabijgelegen bezienswaardigheden zoals de Waddenzee, een UNESCO-werelderfgoed, of de historische stad Groningen met haar bruisende cultuur en gezellige terrasjes.</p>

</div>