<div id="welkom" class="topFiller"></div>
<div >
    <h3 >Welkom</h3>
    <p>
        Welkom op Boerderijcamping Tiswatis<br />
        <br />
        Geniet van de rust en natuur op onze charmante boerderijcamping gelegen in het pittoreske Leermens, in het prachtige noorden van Nederland. Onze camping biedt u een unieke ervaring waarbij u kunt ontsnappen aan de drukte van het dagelijkse leven en kunt genieten van de eenvoudige geneugten van het platteland.<br />
        <br />
        Bij ons vindt u 15 schattige eenden, 9 vrolijke kippen en twee vriendelijke golden retrievers die altijd klaarstaan om u te verwelkomen. Of u nu een natuurliefhebber, een dierenliefhebber of gewoon op zoek bent naar een rustige plek om te ontspannen, bij Boerderijcamping Tiswatis bent u aan het juiste adres.<br />
    </p>
</div>