<div id="tarieven" class="topFiller"></div>
<div id="tarieven">
    <h3>Tarieven</h3>
    <p>Onze tarieven zijn gebaseerd op 2 personen per nacht en zijn als volgt:<br />
        <br />
        Voor SVR-donateurs: €21,50 per nacht, het hele jaar door.<br />
        Voor niet-SVR-donateurs: €23,50 per nacht, het hele jaar door.<br />
        Trekkerstent (zonder elektra): €13,00 per nacht voor 2 personen.<br />
        Toeristenbelasting: €1,65 per persoon per nacht.<br />
        <br />
        Electra: De eerste 4 kWh zijn gratis, daarna €0,35 per kWh.<br />
   
</div>