<div id="voorzieningen" class="topFiller"></div>
<div >
    <h3>Accomodaties</h3>
    <p>
        Alles wat u nodig heeft voor een comfortabel verblijf<br />
        <br />
Onze boerderijcamping biedt u alle basisvoorzieningen voor een comfortabel en aangenaam verblijf:<br />
<br />
Ruime campeerplaatsen met elektriciteitsaansluiting
<br />
Schone sanitairgebouwen met douches en toiletten
<br />
Gezellige gemeenschappelijke ruimte met zitgelegenheid en informatie over de omgeving
<br />
Speelruimte voor kinderen met een zandbak en schommel
<br />
Mogelijkheid om verse eieren te verzamelen van onze kippen
<br />
Interactie met onze boerderijdieren, inclusief de twee vriendelijke golden retrievers
<br />
    </p>
</div>