<div id="voorzieningen" class="topFiller"></div>
<div >
    <h3>Voorzieningen</h3>
    <p>
Onze boerderijcamping biedt u alle basisvoorzieningen voor een comfortabel en aangenaam verblijf:<br />
<br />
Ruime campeerplaatsen met elektriciteitsaansluiting
<br />
Schone sanitairgebouwen met douches en toiletten
<br />
Gezellige gemeenschappelijke ruimte met zitgelegenheid en informatie over de omgeving.
<br />
Interactie met onze dieren, inclusief de twee vriendelijke golden retrievers
<br />
    </p>
</div>