<div id="activiteiten" class="topFiller"></div>
<div >
    <h3>Activiteiten</h3>
    <p class="firstPar post-it">Hier geen poespas, maar gewoon lekker genieten van de natuur, de rust en het boerenleven. </p>
    <p class="secondPar post-it"> Onze boerderij ligt midden in het Groningse platteland, omringd door uitgestrekte weilanden. Kom langs, haal adem, en geniet van het boerenleven.</p>
    <p class="thirdPar post-it">We hebben ruime staanplaatsen, schoon sanitair en er zijn volop mogelijkheden om te wandelen, fietsen en te genieten van de stilte.</p>
    <p class="fourthPar post-it">'t Is wat 't is, en dat is precies goed zo. Of je nou wilt kamperen in je tentje, caravan of camper, bij ons ben je aan het juiste adres.</p>    
</div>