<div id="contact" class="topFiller"></div>
<div >
  <h3>Contact</h3>
  <div class="col col-12 col-md-6 mb-4">
    <p>
        Neem contact met ons op<br />
        <br />
Heeft u vragen of wilt u een reservering maken? Wij staan klaar om u te helpen! U kunt ons bereiken via de volgende contactgegevens:<br />
      <span><span><strong>Boerencamping Tis wat tis</strong><br /></span>Dieftilweg 4<br />9912 TA Leermens</span>
    </p>
    <p>
      Telefoon:&nbsp;
      <a title="Telefoonnummer Tis wat tis" href="tel:0000000000000">00000000000</a>&nbsp;(bereikbaar van ma-za, op zondag is de receptie gesloten)<br />
      E-mail:&nbsp;
      <a href="mailto:info@aagjeshoeve.nl"> info&#64;aagjeshoeve.nl</a>
    </p>
    <p>
    </p>
  </div>
</div>
