<div class="header">
    <div class="logo">
        <!-- <img src="assets/logo2.png" width="250px" alt="Farm Camping Logo" /> -->
    </div>
    <div class="logoBackground">
        <!-- <img src="assets/logo2bg.png" width="500px" alt="Farm Camping Background" /> -->
    </div>
    <div class="menu">
        <ul>
            <li><a href="#welkom">Welkom</a></li>
            <li><a href="#voorzieningen">Voorzieningen</a></li>
            <li><a href="#tarieven">Tarieven</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="header-decorations">
        <!-- <img src="assets/tractor.png" alt="Tractor" class="tractor" />
        <img src="assets/tent.png" alt="Tent" class="tent" />
        <img src="assets/campfire.png" alt="Campfire" class="campfire" /> -->
    </div>
</div>